In [105]:
from tabula import read_pdf

dfs = read_pdf("jurados.pdf", pages="all", guess=False,
)

print(len(dfs))
dfs[0].head(n=10)

3072

,Unnamed: 0,Unnamed: 1,ESTADO PLURINACIONAL DE BOLIVIA,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,ÓRGANO ELECTORAL PLURINACIONAL,NaN,NaN,NaN,NaN
1,NaN,NaN,Tribunal Electoral Departamental de La Paz,NaN,NaN,NaN,NaN
2,NaN,NaN,Elecciones Generales 2020,NaN,NaN,NaN,NaN
3,NaN,NaN,18 de Octubre de 2020,NaN,NaN,NaN,NaN
4,País:,Bolivia,LISTADO DE JURADOS ELECTORALES,NaN,NaN,NaN,NaN
5,N°,Apellidos y Nombres,Doc. de Identidad Municipio,Recinto,NaN,Mesa,NaN
6,1,ABALO LUQUE JUDITH NANCY,I 9102281 El Alto,Col. Rotary Chuquiago Marca,NaN,NaN,1.0
7,2,ABALOS CHOQUE MANCY,I 4960747 El Alto,Unidad Educativa Juan Capriles,NaN,NaN,1.0
8,3,ABALOS QUISPE MARUJA MERCEDES,I 4943746 El Alto,Col. Tunari,NaN,NaN,1.0
9,4,ABARIOJO YUCO MARCO ANTONIO,I 1939274 Nuestra Señora de La Paz,Col. Cristo Rey,NaN,NaN,1.0

In [106]:
dfs_dev = dfs.copy()

In [107]:
df = dfs_dev[1].iloc[5:]
df.columns = df.iloc[0]
df = df[1:]
df.head()

5,N°,Apellidos y Nombres,Doc. de Identidad Municipio,Recinto,NaN,Mesa,NaN
6,19,ABUNA POMA ROCIO MARIELA,I 6793677 El Alto,Esc. Bolivar Municipal,NaN,NaN,1.0
7,20,ACAHUANA CHALLCO ROXANA,I 8307085 Nuestra Señora de La Paz,Colegio Adolfo Costa Du Rels,NaN,NaN,1.0
8,21,ACAHUANA CONDORI ROSA,I 10081063 El Alto,Unidad Educativa Republica de Cuba,NaN,NaN,1.0
9,22,ACAHUANA CUYUÑA ROSA ROSMERY,I 6073590 Nuestra Señora de La Paz,Colegio Holanda,NaN,NaN,1.0
10,23,ACAHUANA HUANCA WENDDY NATALY,I 8332893 Nuestra Señora de La Paz,Instituto Mendez Arcos,NaN,NaN,1.0

In [108]:
df[["PREFIX - Doc. de Identidad", "Doc. de Identidad", "Municipio"]] = df["Doc. de Identidad Municipio"].str.split(r"\b(\d+)", expand=True)

There is two nan values in column name

In [109]:
for c in df.columns:
    print(type(c), c)

<class 'str'> N°
<class 'str'> Apellidos y Nombres
<class 'str'> Doc. de Identidad Municipio
<class 'str'> Recinto
<class 'float'> nan
<class 'str'> Mesa
<class 'numpy.float64'> nan
<class 'str'> PREFIX - Doc. de Identidad
<class 'str'> Doc. de Identidad
<class 'str'> Municipio

In [92]:
import pandas as pd

In [110]:
# Fill the nan values in column names

# List hte actual column names
df_names_to_fix = pd.Series(df.columns)

# Create a new list with fixed column names
df_names_fixed = df_names_to_fix.fillna('unnamed:' + (df_names_to_fix.groupby(df_names_to_fix.isnull()).cumcount() + 1).astype(str))

# Set the new column names to the test dataframe
df.columns  = df_names_fixed

In [112]:
for c in df.columns:
    print(type(c), c)

<class 'str'> N°
<class 'str'> Apellidos y Nombres
<class 'str'> Doc. de Identidad Municipio
<class 'str'> Recinto
<class 'str'> unnamed:1
<class 'str'> Mesa
<class 'str'> unnamed:2
<class 'str'> PREFIX - Doc. de Identidad
<class 'str'> Doc. de Identidad
<class 'str'> Municipio

In [111]:
df["unnamed:1"].value_counts()

2 de    1
Name: unnamed:1, dtype: int64

In [84]:
df.head()

5,N°,Apellidos y Nombres,Doc. de Identidad Municipio,Recinto,Mesa_Aux,Mesa,Mesa_Aux,PREFIX - Doc. de Identidad,Doc. de Identidad,Municipio
6,1,ABALO LUQUE JUDITH NANCY,I 9102281 El Alto,Col. Rotary Chuquiago Marca,NaN,NaN,1.0,I,9102281,El Alto
7,2,ABALOS CHOQUE MANCY,I 4960747 El Alto,Unidad Educativa Juan Capriles,NaN,NaN,1.0,I,4960747,El Alto
8,3,ABALOS QUISPE MARUJA MERCEDES,I 4943746 El Alto,Col. Tunari,NaN,NaN,1.0,I,4943746,El Alto
9,4,ABARIOJO YUCO MARCO ANTONIO,I 1939274 Nuestra Señora de La Paz,Col. Cristo Rey,NaN,NaN,1.0,I,1939274,Nuestra Señora de La Paz
10,5,ABASTO ARANIBAR MAURICIO WILSON,I 9196248 Nuestra Señora de La Paz,Colegio Dora Schmidt,NaN,NaN,1.0,I,9196248,Nuestra Señora de La Paz

In [113]:
df["Mesa"] = df["unnamed:2"]

In [115]:
df.drop(columns=["Doc. de Identidad Municipio", "unnamed:2"], inplace=True)

In [116]:
df.head()

5,N°,Apellidos y Nombres,Recinto,unnamed:1,Mesa,PREFIX - Doc. de Identidad,Doc. de Identidad,Municipio
6,19,ABUNA POMA ROCIO MARIELA,Esc. Bolivar Municipal,NaN,1.0,I,6793677,El Alto
7,20,ACAHUANA CHALLCO ROXANA,Colegio Adolfo Costa Du Rels,NaN,1.0,I,8307085,Nuestra Señora de La Paz
8,21,ACAHUANA CONDORI ROSA,Unidad Educativa Republica de Cuba,NaN,1.0,I,10081063,El Alto
9,22,ACAHUANA CUYUÑA ROSA ROSMERY,Colegio Holanda,NaN,1.0,I,6073590,Nuestra Señora de La Paz
10,23,ACAHUANA HUANCA WENDDY NATALY,Instituto Mendez Arcos,NaN,1.0,I,8332893,Nuestra Señora de La Paz

In [ ]:
print(len(dfs_list))
dfs_list[0].to_csv("output_tabula.csv", index=False)

In [ ]:
## Condensate everything into a function

In [72]:
def create_fixed_column_names(df_column_names):
    """
    Create a clean column names, where nan are replace by unnamed:X value, where
    X is an index for each nan value found.
    """
    # List hte actual column names
    df_names_to_fix = pd.Series(df_column_names)

    # Create a new list with fixed column names
    df_names_fixed = df_names_to_fix.fillna('unnamed:' + (df_names_to_fix.groupby(df_names_to_fix.isnull()).cumcount() + 1).astype(str))

    return df_names_fixed

def clean_dataframe(df_input):
    # Create a copy to work on of the dataframe
    df = df_input.copy()
    
    # Delete the first 5 rows
    df = df.iloc[5:]

    # Set the column name to the first element of this new rows
    df.columns = df.iloc[0]
    
    # Start the rows from the next one element 
    # since we choose 0 as the new column names
    df = df[1:]
    
    # Create New Columns spliting the nested one "Doc. de Identidad Municipio" using regex
    df[["PREFIX - Doc. de Identidad", "Doc. de Identidad", "Municipio"]] = df["Doc. de Identidad Municipio"]            .str.split(r"\b(\d+)", expand=True)

    # Fill the nan column name as "Mesa_Aux"
    
    # List hte actual column names
    df_names_to_fix = pd.Series(df.columns)

    # Create a new list with fixed column names


    # Set the new column names to the test dataframe
    df.columns  = df_names_fixed


    # Set the value from this "Mesa_Aux" to the "Mesa" column
    df["Mesa"] = df["Mesa_Aux"]


    # Drop Unused column names
    df.drop(columns=["Doc. de Identidad Municipio", "Mesa_Aux"], inplace=True)
    
    return df

In [73]:

df_clean = clean_dataframe(dfs[10])
df_clean.head()

5,N°,Apellidos y Nombres,Recinto,Mesa,PREFIX - Doc. de Identidad,Doc. de Identidad,Municipio
6,181,ACUÑA FERNANDEZ CRISTHIAN,U.E. República de Japón,NaN,I,9916784,Viacha
7,182,ACUÑA GILKA,Col. Jhon F. Keneddy,NaN,I,11102150,Caranavi
8,183,ACUÑA PEÑALOZA LUIS FERNANDO,Esc. Panama,NaN,I,4925538,Nuestra Señora de La Paz
9,184,ACUÑA QUISPE APOLINAR,U.E. Eliodoro Camacho de Mocomoco,NaN,I,6108842,Mocomoco
10,185,ACUÑA QUISPE EDIZON CARLOS,Esc. Pablo Iturri,NaN,I,9130520,Nuestra Señora de La Paz